.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;

  background-color: darkgrey;

  grid-template-areas:
  "header header"
  "nav main";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: header;
  background-color: green;
}

.header img {
  width: 60px;
  height: auto;
}

.nav {
  grid-area: nav;
  background-color: darkgreen;
}

.main {
  grid-area: main;
  background-color: darkcyan;
}

.main img {
  width: 100%;
}

ul li {
  list-style: georgian;
}
